@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}
@layer components {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        input[type="range"]::-webkit-slider-thumb {
            width: 15px;
            -webkit-appearance: none;
            appearance: none;
            height: 15px;
            box-shadow: -155px 0 0 150px #1ed760;
            background: #fff;
            border-radius: 50%;
        }
    }
}
@layer utilities {
    .scrollbar-hidden {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
    .after-span span::after {
        content: ", ";
    }
    .after-span span:last-child::after {
        content: "";
    }
}
